
.title{
    font-size: 40;
    text-align: center;
}
.filter{
    font-size: 30;
    padding:10px;
}
.filters{
    display:inline-block;
    margin:20px;
}
button{
    background-color: white;
    border-radius: 20px;
    min-width:100px;
    margin-left:10px;
    padding-top:10px;
    padding-bottom: 10px;
    transition:0.3s;
}
button:hover{
    color:white;
    background-color: darkolivegreen;
}
.product .item{
    display:inline-block;
    margin:8px;
}
img{
    border-radius: 20px;
    border:2px solid black;
}
body{
    background-color: aliceblue;
}