h1{
    text-align: center;
}
button{
    border-radius: 10px;
    display:inline-block;
    margin:10px;
    text-align: center;
    min-height: 40px;
    min-width: 90px;
    transition:0.3s ease-in-out;
}
button:hover{
    color:aliceblue;
    background-color: darkred;
}
.ee{
    margin-left: 310px;
}
